.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 6vw;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn-left {
    border: 1px solid rgb(0, 255, 0);
    width: 50%;
}
.btn-right {
    border: 1px solid rgb(255, 0, 0);
    width: 50%;
}