.add-task-banner {
    background: linear-gradient(
        135deg,
        rgba(5, 255, 17, 0.253) 0%,
        rgba(99, 255, 99, 0.418) 50%,
        rgba(27, 255, 27, 0.15) 100%
    );
    backdrop-filter: blur(15px);
    border: 1px solid rgb(4, 255, 67);
    border-radius: 15px;
    box-sizing: border-box;
    width: auto;
    height: 1.75rem;
    margin: 0rem 0.5rem 0.25rem 0.5rem;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0 1px 0 rgba(255, 255, 255, 0.6);
    opacity: 1;
    transform: scale(1);
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
}

.add-task-banner label {
    font-size: 1.5rem;
    white-space: nowrap;
}

.add-task-icon-text {
    color:rgb(4, 255, 67);
    font-size: 2rem !important;
    margin-left: 1rem;
}

.add-task-text {
    margin-left: 0.5rem;
}

.add-task-banner:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.1);
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.08)
    );
}

.plus-icon {
    font-size: 1.6rem;
    opacity: 0.9;
}

.add-text {
    white-space: nowrap;
    font-weight: bold;
}
